body{
    margin: 0;
    font-family: 'PT Serif', serif;
}

.nav, .home-view{
    text-align: center;
    padding: 1rem;
}

.home-view *{
    padding: 0.5rem;
}

.rattle-view{
    display: none;
}

#canvas{
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    background: #fffacc;
}

.wersja{
    text-align:center;
}

.acc_x{
    text-align:center;
}